{% extends 'base.html' %}
{% block tittle %} Список кураторских часов {% endblock %}
{% block content %}
    <h1>Моя группа</h1>
    <table class="table table-responsive table-hover">
        <thead class="thead-default">
        <tr>
            <th>Фамилия Имя</th>
            <th>Балл</th>
        </tr>
        </thead>
        <tbody>
        {% for curator in curators %}
            <tr>
                <td>
                    {{ curator.second_name }} {{ curator.first_name }}
                </td>
                <td>
                    83
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}